body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
  }
  
  header {
    background-color:white;
    color:black;
    padding: 10px;
    text-align: left;
  }

  .logo {
    height: 95px;
    width: 75%;
    border-radius: 20px;
  }
  
  nav {
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
  .menu li a:hover {
    background-color: #ccc;
  }
  
  .content {
    padding: 20px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .gambar-tahu-baso {
    width: 30%;
    height: 50%;
    justify-content: center;
    border-radius: 20px;
  }

  .nama-makanan{
      background-color: bisque;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: medium;
  }